In [50]:
# Convert ts file to json

import re

txt = ""
with open("learnsets.ts") as file:
    txt = file.read()

txt = re.split("=", txt)[1]
txt = re.sub("//.*", "", txt)
txt = re.sub("(\w+):", "\"\g<1>\":", txt)
txt = re.sub(",(\s*)(]|})", "\g<1>\g<2>", txt)
txt = re.sub(";", "", txt)

with open("learnsets.json", "w") as file:
    file.write(txt)

In [65]:
import json
import pandas as pd

learnsets_json = {}
with open("learnsets.json") as file:
    learnsets = json.load(file)

learnsets_dict = {
    "pokemon": [],
    "move": [],
    "learn_methods": []
}
for pokemon, pokemon_data in learnsets.items():
    if "learnset" not in pokemon_data:
        # print(f"Skipped {pokemon}")
        continue
    for move, learn_methods in pokemon_data["learnset"].items():
        count = len(learn_methods)
        learnsets_dict["pokemon"].extend([pokemon] * count)
        learnsets_dict["move"].extend([move] * count)
        learnsets_dict["learn_methods"].extend(learn_methods)

# print(learnsets_dict)
df = pd.DataFrame(learnsets_dict)
df

# df = pd.read_json("learnsets.json", orient="index")
# df.drop(["eventData", "encounters", "eventOnly"], axis=1, inplace=True)
# df

          pokemon        move learn_methods
0       missingno    blizzard           3L1
1       missingno  bubblebeam           3L1
2       missingno         cut           3L1
3       missingno  doubleedge           3L1
4       missingno  earthquake           3L1
...           ...         ...           ...
298737   saharaja       thief            8M
298738   saharaja       thief           8L1
298739   saharaja    watergun           9L1
298740   saharaja    watergun           8L1
298741   saharaja  waterpulse            9M

[298742 rows x 3 columns]